<%- include("header") -%>

<div class="box" id="heading">
    <h1> Description </h1>
</div>
<div class="aboutbox">
    <em><p>The main purpose of a to do list is to provide yourself with a list of your priorities in order to ensure that you don't forget anything and are able to effectively plan out your tasks so that they are all accomplished in the correct time frame.</p></em>
</div>

<%- include("footer") -%>