<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<!-- Scriptlet tag <% %> is used to perform control flow in .ejs files -->
<!-- <%=  %> tag is used to output any random js variable -->
<!-- <%- include["header"] -%> tag to use layout in templates -->
<body>